# DATA ANALYSIS - AMAZON REVIEWS
____
by Vitor Flisch Cavalanti<br>
May 2021

<b>Case study Sr. Business Analyst</b>

<hr><h2>1. Working with Reviews file</h2><hr>

In [1]:
import pandas as pd
import numpy as np 
import ast

In [2]:
# use this file_name variable to receive as parameter for future automation
file_name = "reviews_Electronics_5.csv"
reviews = pd.read_csv("../files/" + file_name, nrows=5)

In [4]:
reviews.head()

,Unnamed: 0,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,0,AO94DHGC771SJ,528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5.0,Gotta have GPS!,1370131200,"06 2, 2013"
1,1,AMO214LNFCEI4,528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1.0,Very Disappointed,1290643200,"11 25, 2010"
2,2,A3N7T0DY83Y4IG,528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3.0,1st impression,1283990400,"09 9, 2010"
3,3,A1H8PY3QHMQQA0,528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2.0,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,4,A24EV6RXELQZ63,528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1.0,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [5]:
# reading just columns that will be used
reviews = pd.read_csv("../files/reviews_Movies_and_TV_5.csv", usecols = ['reviewerID','asin','helpful','overall','reviewTime'])

In [6]:
# checking nulls
reviews.isnull().sum()

reviewerID    0
asin          0
helpful       0
overall       0
reviewTime    0
dtype: int64

In [7]:
# converting reviewTime to date format
reviews['reviewTime'] =  pd.to_datetime(reviews['reviewTime'], format='%m %d, %Y')

In [8]:
# transforming helpful to a list object
reviews["helpful"] = reviews["helpful"].apply(eval)

In [9]:
# calculating helpful score (numerator / denominator )
reviews['helpful_score'] = reviews.helpful.apply(lambda x: x[0]) / reviews.helpful.apply(lambda x: x[1])

In [10]:
reviews.head(20)

        reviewerID        asin helpful  overall reviewTime  helpful_score
0    ADZPIG9QOCDG5  0005019281  [0, 0]      4.0 2008-02-26            NaN
1   A35947ZP82G7JH  0005019281  [0, 0]      3.0 2013-12-30            NaN
2   A3UORV8A9D5L2E  0005019281  [0, 0]      3.0 2013-12-30            NaN
3   A1VKW06X1O2X7V  0005019281  [0, 0]      5.0 2008-02-13            NaN
4   A3R27T4HADWFFJ  0005019281  [0, 0]      4.0 2013-12-22            NaN
5   A2L0G56BNOTX6S  0005019281  [0, 0]      5.0 2013-11-06            NaN
6    A5NYUBEKXFLX5  0005019281  [1, 1]      5.0 2008-12-30            1.0
7   A2DJ8B8GE4V2VD  0005019281  [0, 0]      5.0 2009-12-15            NaN
8    AWF2S3UNW9UA0  0005019281  [0, 0]      5.0 2013-12-05            NaN
9   A3O4UUT83DG3OU  0005019281  [0, 0]      5.0 2013-09-21            NaN
10  A3TK5Q142X5Q8A  0005019281  [0, 0]      5.0 2013-12-20            NaN
11  A33EWPXESP9GQH  0005019281  [0, 0]      5.0 2014-01-27            NaN
12   AG8D804FUG5Y4  0005019281  [0, 1]      3.0 2008-01-09            0.0
13  A1GHUN5HXMHZ89  0005019281  [0, 0]      5.0 2013-12-22            NaN
14  A3VT62AP8KEK3V  0005019281  [1, 1]      4.0 2013-12-20            1.0
15   AAM67Y93KTIOL  0005019281  [0, 0]      5.0 2014-01-23            NaN
16  A1GQF4JDJXBRLH  0005019281  [0, 0]      5.0 2007-03-08            NaN
17  A13KAQO9F5X0FN  0005019281  [0, 0]      4.0 2014-01-14            NaN
18  A3UEOL981G9TXY  0005019281  [0, 0]      5.0 2012-02-03            NaN
19   AZBWH4HLG3JWV  0005019281  [0, 1]      5.0 2013-12-27            0.0

In [11]:
# count by review
reviews['overall'].value_counts()

5.0    906608
4.0    382994
3.0    201302
1.0    104219
2.0    102410
Name: overall, dtype: int64

In [12]:
# avg review
reviews['overall'].mean()

4.110648217148062

In [13]:
# save adjusted file to exports folder
reviews.to_csv("../exports/" + file_name)