# DATA ANALYSIS - AMAZON REVIEWS
____
by Vitor Flisch Cavalanti<br>
May 2021

<b>Case study Sr. Business Analyst</b>

<hr><h2>1. Working with Reviews file</h2><hr>

In [63]:
import pandas as pd
import numpy as np 
import ast

In [64]:
# use this file_name variable to receive as parameter for future automation
file_name = "reviews_Movies_and_TV_5.csv"
reviews = pd.read_csv("../files/" + file_name, nrows=5)

In [65]:
reviews.head()

,Unnamed: 0,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,0,ADZPIG9QOCDG5,5019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4.0,good version of a classic,1203984000,"02 26, 2008"
1,1,A35947ZP82G7JH,5019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3.0,Good but not as moving,1388361600,"12 30, 2013"
2,2,A3UORV8A9D5L2E,5019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3.0,Winkler's Performance was ok at best!,1388361600,"12 30, 2013"
3,3,A1VKW06X1O2X7V,5019281,"Amazon Customer ""Softmill""","[0, 0]",Henry Winkler is very good in this twist on th...,5.0,It's an enjoyable twist on the classic story,1202860800,"02 13, 2008"
4,4,A3R27T4HADWFFJ,5019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4.0,Best Scrooge yet,1387670400,"12 22, 2013"

In [66]:
# reading just columns that will be used
reviews = pd.read_csv("../files/" + file_name, usecols = ['reviewerID','asin','helpful','overall','reviewTime'])

In [67]:
reviews["file"]=file_name

In [68]:
# checking nulls
reviews.isnull().sum()

reviewerID    0
asin          0
helpful       0
overall       0
reviewTime    0
file          0
dtype: int64

In [69]:
# converting reviewTime to date format
reviews['reviewTime'] =  pd.to_datetime(reviews['reviewTime'], format='%m %d, %Y')

In [70]:
# transforming helpful to a list object
reviews["helpful"] = reviews["helpful"].apply(eval)

In [71]:
# calculating helpful score (numerator / denominator )
reviews['helpful_score'] = reviews.helpful.apply(lambda x: x[0]) / reviews.helpful.apply(lambda x: x[1])

In [72]:
reviews.head(20)

,reviewerID,asin,helpful,overall,reviewTime,file,helpful_score
0,ADZPIG9QOCDG5,0005019281,"[0, 0]",4.0,2008-02-26,reviews_Movies_and_TV_5.csv,NaN
1,A35947ZP82G7JH,0005019281,"[0, 0]",3.0,2013-12-30,reviews_Movies_and_TV_5.csv,NaN
2,A3UORV8A9D5L2E,0005019281,"[0, 0]",3.0,2013-12-30,reviews_Movies_and_TV_5.csv,NaN
3,A1VKW06X1O2X7V,0005019281,"[0, 0]",5.0,2008-02-13,reviews_Movies_and_TV_5.csv,NaN
4,A3R27T4HADWFFJ,0005019281,"[0, 0]",4.0,2013-12-22,reviews_Movies_and_TV_5.csv,NaN
5,A2L0G56BNOTX6S,0005019281,"[0, 0]",5.0,2013-11-06,reviews_Movies_and_TV_5.csv,NaN
6,A5NYUBEKXFLX5,0005019281,"[1, 1]",5.0,2008-12-30,reviews_Movies_and_TV_5.csv,1.0
7,A2DJ8B8GE4V2VD,0005019281,"[0, 0]",5.0,2009-12-15,reviews_Movies_and_TV_5.csv,NaN
8,AWF2S3UNW9UA0,0005019281,"[0, 0]",5.0,2013-12-05,reviews_Movies_and_TV_5.csv,NaN
9,A3O4UUT83DG3OU,0005019281,"[0, 0]",5.0,2013-09-21,reviews_Movies_and_TV_5.csv,NaN
10,A3TK5Q142X5Q8A,0005019281,"[0, 0]",5.0,2013-12-20,reviews_Movies_and_TV_5.csv,NaN
11,A33EWPXESP9GQH,0005019281,"[0, 0]",5.0,2014-01-27,reviews_Movies_and_TV_5.csv,NaN
12,AG8D804FUG5Y4,0005019281,"[0, 1]",3.0,2008-01-09,reviews_Movies_and_TV_5.csv,0.0
13,A1GHUN5HXMHZ89,0005019281,"[0, 0]",5.0,2013-12-22,reviews_Movies_and_TV_5.csv,NaN
14,A3VT62AP8KEK3V,0005019281,"[1, 1]",4.0,2013-12-20,reviews_Movies_and_TV_5.csv,1.0
15,AAM67Y93KTIOL,0005019281,"[0, 0]",5.0,2014-01-23,reviews_Movies_and_TV_5.csv,NaN
16,A1GQF4JDJXBRLH,0005019281,"[0, 0]",5.0,2007-03-08,reviews_Movies_and_TV_5.csv,NaN
17,A13KAQO9F5X0FN,0005019281,"[0, 0]",4.0,2014-01-14,reviews_Movies_and_TV_5.csv,NaN
18,A3UEOL981G9TXY,0005019281,"[0, 0]",5.0,2012-02-03,reviews_Movies_and_TV_5.csv,NaN
19,AZBWH4HLG3JWV,0005019281,"[0, 1]",5.0,2013-12-27,reviews_Movies_and_TV_5.csv,0.0

In [73]:
# count by review
reviews['overall'].value_counts()

5.0    906608
4.0    382994
3.0    201302
1.0    104219
2.0    102410
Name: overall, dtype: int64

In [74]:
# avg review
reviews['overall'].mean()

4.110648217148062

In [75]:
# save adjusted file to exports folder
reviews.to_csv("../exports/" + file_name)